<robot name="pallet_truck" version="1.0">
  <link name="base_link">
    <collision name="pallet_truck_lp_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01780 -0.00204 0.61228"/>
      <geometry>
        <box size="1.48821 0.49089 1.19758"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="4.18793" ixy="-0.00000" ixz="0.00000" iyy="9.12244" iyz="0.00000" izz="6.13940"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01780 -0.00204 0.61228"/>
      <mass value="30.00000"/>
    </inertial>
    <visual name="pallet_truck_lp">
      <material name="Material.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://pallet_truck_description/meshes/dae/Cube.025.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <material name="Material.001">
    <texture filename="package://pallet_truck_description/../../04_Pallet/textures/Pallettruck_A.png"/>
    <color rgba="0.80000 0.80000 0.80000 1.00000"/>
  </material>
</robot>